body {
    background-color: black;
    color: white;
}
h1, h2, nav {
    display: flex;
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-size: 150px;
    /* margin: 0 auto; */
}
nav {
 justify-content: flex-end;
 font-size: 60px
}

header {
    display: flex;
    width: 100%;
    height: 240px;
    background-image: url("/img/OIP.jfif");
    background-size: cover;
    background-position: top;
    margin: 0 auto;
}

.disable {
    display: none;
}
.unable {
    display:block;
}

a {
    color: rgb(74, 83, 131);
    text-decoration: none;
}
.contButton {
    /* display: center; */
    margin:  auto;
    width: 5%;
}
/* button {
    padding:10px;
    background-color: blue;
} */

.selectBlocks {
    height: 500;
    width: 600;
    display:inline-block;
    text-align: left;
    padding: 30px
}
.menuImage {
    height: 200px;
    width: 200px
}
.customInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    height:60%;
    width: 30%;
    margin: auto;
}

