<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel = "stylesheet" href = "../style.css">
    <title>Order</title>
</head>
<body>
    <header>
        <h1>PIZZA</h1>
        <nav>
            <ul><a href=../index.html>HOME</a></ul>
            <ul><a href=menu.html>MENU</a></ul>
            <ul><a href=#>ORDER</a></ul>
        </nav> 
    </header>
    <div>
        <h1> Create your dream pizza!</h1>
    </div>

    <form action="" > 
        <h2> Select crust </h2>
        <section>

            <input class="options" type="radio" name="crust" id="thin" value="thin">
            <label for="crust"> thin </label>
            <input class="options" type="radio" name="crust" id="thick" value="thick">
            <label for="crust"> thcick </label>
            
        </section>
        <h2> Select toppings </h2>
        <section>
            <input type="checkbox" id="topping1" name="topping1" value="salami">
            <label for="topping1"> salami</label><br>
            <input type="checkbox" id="topping2" name="topping2" value="grilled chicken ">
            <label for="topping2"> grilled chicken</label><br>
            <input type="checkbox" id="topping3" name="topping3" value="mushrooms">
            <label for="topping3"> mushrooms</label>
        </section>
        <button value = "CONTINUE" onclick=order()>
    </form>

</body>
</html>
